:root {
    --main-color: #4746e6;
    --bg-color: #614de3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 15px;
    place-items: center;
}

@media screen and (max-width: 500px) {
    .container {
        grid-template-columns: repeat(2, 100px);
        grid-gap: 10px;
        padding: 10px;
        margin: 20px 0;
    }
}

.memory-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memory-game-image {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}